  <div class='heart-box'>
    <%= image_tag "logo (7).png", class:"heart-icon" %><span class='heart-count'><%= @origin.liked_users.count %></span>
      <% if current_user.already_liked?(@origin) %>
        <%= button_to 'いいねを取り消す', origin_likes_path(origin_id: origin.id, id: origin.likes[0].id), method: :delete, remote: true %>
      <% else %>
        <%= button_to 'いいね', origin_likes_path(origin.id), method: :post, remote: true %>
      <% end %>
  </div>