<%= render "shared/header" %>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      本と出会うアプリ
    </h2>
    <p class='service-explain'>
      <%# お気に入りの一冊を紹介　共有　新しい一冊と出会う %>
    </p> 
  </div>

  <%# Favorite Books %>
  
  <%# Favorite Books %>
  <%# 投稿ボタン %>
  
</div>