/* 商品の概要 */

.origin-show {
  background-image: url("../木目画55.png");
  
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.origin-box {
  background-image: url("../木目画55.png"); 
  width: 70vw;
  min-width: 1000px;
  padding: 3vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.origin-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;

}

.youtube-url{
  padding-bottom: 20px;

}

.origin-red-btn {
  text-align: center;
  background-color: #c7d31e;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 7vw;
}

.or-text {
  font-size: 20px;
}

.origin-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 7vw;
}

.amazon-btn { 
  padding-top: 30px;
}

.origin-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 70%;
}

.detail-item {
  width: 20%;
  background-color: #c7d31e;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  background-color: #ffffff;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}



#likes_buttons_{
  font-size: 2vh;
}
